#root {
	-fx-background-color: #E8F2F2;
}

.commandText {
	-fx-font-size:13.0pt;
	-fx-font-family: 'herculanum', 'papyrus', 'Goudy Bookletter 1911', sans-serif;
}

#lblTitle {
	-fx-font-decoration: underline;
}

#gridPaneDetail {
	-fx-font-size: 16.0px;
	-fx-padding: 10.0;
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-style: solid;
	-fx-border-width: 5.0px;
	-fx-hgap: 10.0;
	-fx-vgap: 10.0;
	-fx-background-radius: 5.0;
}

.gridPaneHelpScreen {
	-fx-font-size: 16.0px;
	-fx-padding: 10.0;
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-style: solid;
	-fx-border-width: 5.0px;
	-fx-hgap: 10.0;
	-fx-vgap: 10.0;
	-fx-background-radius: 5.0;
}

#viewAllTable {
	-fx-border-width: 0.0 0.0 1.0 0.0;
}

#lblTitle {
	-fx-font-size: 25.0px;
}

#eventGridPane {
	-fx-border-color: black;
	-fx-border-style: solid;
	-fx-border-width: 5.0px;
	-fx-padding: 10.0 10.0 10.0 10.0;
	-fx-hgap: 5.0;
	-fx-vgap: 5.0;
	-fx-background-color: white;
}

#flowPaneAllEvents {
	-fx-hgap: 15.0;
	-fx-vgap: 15.0;
}

.storageMessage {
	-fx-text-fill: red;
}

.displayText {
	-fx-font-size:12.0pt;
}

.lblCommand {
	-fx-font-size:20.0pt;
	-fx-font-family: 'herculanum', 'papyrus', 'Goudy Bookletter 1911', sans-serif;
}