#root {
	-fx-background-color: #E8F2F2;
}

.commandText {
	-fx-font-size:15pt;
	-fx-font-family: 'herculanum', 'papyrus', 'Goudy Bookletter 1911', sans-serif;
}

#lblTitle {
	-fx-font-decoration: underline;
}

#gridPaneDetail {
	-fx-font-size: 16px;
	-fx-padding: 20 20 20 20;
	-fx-background-color: white;
	-fx-border-color: black;
}