#root {
	-fx-background-color: #E8F2F2;
}

.commandText {
	-fx-font-size:13.0pt;
	-fx-font-family: 'herculanum', 'papyrus', 'Goudy Bookletter 1911', sans-serif;
}

#lblTitle {
	-fx-font-decoration: underline;
}

#gridPaneDetail {
	-fx-font-size: 16.0px;
	-fx-padding: 10.0;
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-style: solid;
	-fx-border-width: 5.0px;
	-fx-hgap: 10.0;
	-fx-vgap: 10.0;
	-fx-background-radius: 5.0;
}

.gridPaneHelpScreen {
	-fx-font-size: 16.0px;
	-fx-padding: 10.0;
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-style: solid;
	-fx-border-width: 5.0px;
	-fx-hgap: 10.0;
	-fx-vgap: 10.0;
	-fx-background-radius: 5.0;
}

#viewAllTable {
	-fx-border-width: 0.0 0.0 1.0 0.0;
}

#lblTitle {
	-fx-font-size: 25.0px;
}

#eventGridPane {
	-fx-border-color: black;
	-fx-border-style: solid;
	-fx-border-width: 5.0px;
	-fx-padding: 10.0 10.0 10.0 10.0;
	-fx-hgap: 5.0;
	-fx-vgap: 5.0;
	-fx-background-color: white;
}

#eventGridPaneMonth {
	-fx-border-color: grey;
	-fx-border-style: solid;
	-fx-border-width: 1.0px;
	-fx-padding: 10.0 10.0 10.0 10.0;
	-fx-hgap: 5.0;
	-fx-vgap: 5.0;
	-fx-background-color: white;
}
#flowPaneAllEvents {
	-fx-hgap: 15.0;
	-fx-vgap: 15.0;
}

#flowPaneMonthEvents {
	-fx-hgap: 0.0;
	-fx-vgap: 0.0;
}

.storageMessage {
	-fx-text-fill: red;
}

.displayText {
	-fx-font-size:12.0pt;
}
#lblDate {
	-fx-font-size:10.0pt;
	-fx-text-fill: slategray;
	-fx-font-weight: bold;
	-fx-font-family: 'Montserrat', 'papyrus', 'Goudy Bookletter 1911', sans-serif;
}
#lblmonth {
	-fx-font-size:18.0pt;
	-fx-font-weight: bold;
	-fx-font-family: 'Montserrat', 'papyrus', 'Goudy Bookletter 1911', sans-serif;
}
#lblyear {
	-fx-font-size:18.0pt;
	-fx-font-weight: bold;
	-fx-font-family: 'Montserrat', 'papyrus', 'Goudy Bookletter 1911', sans-serif;
}
.lblCommand {
	-fx-font-size:20.0pt;
	-fx-font-family: 'herculanum', 'papyrus', 'Goudy Bookletter 1911', sans-serif;
}

#lblPageDate, #lblOpenEvent, #lblDayOfWeek {
	-fx-font-size:20.0pt;
	-fx-font-family: 'herculanum', 'papyrus', 'Goudy Bookletter 1911', sans-serif;
}

#lblToday {
	-fx-font-size:20.0pt;
	-fx-font-family: 'herculanum', 'papyrus', 'Goudy Bookletter 1911', sans-serif;
	-fx-text-fill: red;
}

#datedEventGridPane, #openEventGridPane {
	-fx-border-style: solid;
	-fx-border-width: 3.0px;
	-fx-padding: 10.0 10.0 10.0 10.0;
	-fx-hgap: 5.0;
	-fx-vgap: 5.0;
	-fx-background-color: white;
	-fx-font-size:13.0pt;
	-fx-font-family: 'Montserrat', 'papyrus', 'Goudy Bookletter 1911', sans-serif;
}

/* #checkBoxDone {
	-fx-opacity: 1;
}
*/

/*
 * Copyright (c) 2013 by Gerrit Grunwald
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.root {
    -fx-background-color: transparent;
    -fx-fill            : transparent;
}
.notification {
    -fx-background-color : rgba(15, 15, 15, 0.8);
    -fx-background-radius: 5;
    -fx-effect           : innershadow(two-pass-box, rgba(255, 255, 255, 0.6), 5.0, 0.25, 0, 0);
    -foreground-color    : white;
    -icon-color          : white;
}

.notification .title {
    -fx-font-size  : 1.083333em;
    -fx-font-weight: bold;
    -fx-text-fill  : -foreground-color;
}
.notification .message {
    -fx-font-size       : 1.0em;
    -fx-content-display : left;
    -fx-graphic-text-gap: 10;
    -fx-text-fill       : -foreground-color;
}

#lblEvent1{
}
